build
.vscode
/pcb/Ventilator/#auto_saved_files#
/firmwareTest/FirmwareTest/.vs
/firmwareTest/FirmwareTest/FirmwareTest/bin
/firmwareTest/FirmwareTest/FirmwareTest/obj
/pcb/Ventilator/Ventilator-backups
/pcb/Ventilator/Gerber
